<div class="flex m-auto justify-center mt-8">
    <h1 class="justify-center text-2xl xl:text-5xl xl:font-bold">
        <span class="text-3xl xl:text-6xl text-green-500 bordenegro">L</span
        >aboratorio <span></span>Analisis
    </h1>
</div>

<style>
    .bordenegro {
        text-shadow:
             1px 1px 1px #000000,
             -1px -1px 1px #000000,
             1px -1px 1px #000000,
             -1px 1px 1px #000000;
    }
</style>
