---
import Badge from "./badge.astro";
---
<div class="flex flex-row m-auto justify-center mt-8 w-full mx-auto" >
    <h1 class=" text-4xl xl:text-6xl xl:font-bold  ">
        <span class="text-5xl xl:text-7xl text-green-500 bordenegro">L</span
        >aboratorio <span></span>Analisis <Badge>Clinica Veterinaria</Badge>
    </h1>
     
    <h2 class="text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ea tempora nostrum provident iste, nemo magni illum aut dolore omnis? Commodi tempore tenetur veniam consequatur itaque quia ullam enim est?
    </h2>
</div>

<style>
    div{
        text-align: center;
        display:flex;
    }
    .bordenegro {
        text-shadow:
             1px 1px 1px #000000,
             -1px -1px 1px #000000,
             1px -1px 1px #000000,
             -1px 1px 1px #000000;
    }
</style>
